@using ChameleonForms.Example.Views.Comparison

@model ComparisonController.SignupViewModel

@{
    ViewBag.Title = "Editor Templates Example";
}

<h1>Editor Templates example</h1>

@using (Html.BeginForm("EditorTemplates", "Comparison", FormMethod.Post, new {id = "signup-form"}))
{
    <div class="information_message">
        <h3>Signup for an account</h3>
        <p>Please fill in your information below to signup for an account.</p>
    </div>
    
    using (Html.BeginSection("Your details"))
    {
        @Html.EditorFor(m => m.FirstName)
        @Html.EditorFor(m => m.LastName)
        @Html.EditorFor(m => m.DateOfBirth, new {hint = "DD/MM/YYYY"})
    }

    using (Html.BeginSection("Account details"))
    {
        @Html.EditorFor(m => m.EmailAddress, new {hint = "An email will be sent to this address to confirm you own it"})
        @Html.EditorFor(m => m.Password)
        @Html.EditorFor(m => m.MembershipType)
    }

    using (Html.BeginSection("Additional details"))
    {
        @Html.EditorFor(m => m.Bio)
        @Html.EditorFor(m => m.Homepage, new {placeholder = "http://"})
    }
    
    <div class="action_message">
        <h3>Confirm the Terms &amp; Conditions</h3>
        <p>Please <a href="#">read the terms and conditions</a>.</p>
        @Html.CheckBoxFor(m => m.TermsAndConditions) @Html.LabelFor(m => m.TermsAndConditions, "I agree to the terms and conditions")
    </div>
    
    <div class="form_navigation">
        <button type="submit">Signup</button>
    </div>
}
