@* Generator: MvcHelper *@
@using System.Web.Mvc
@using Component.Config
@using Templates.TwitterBootstrap3

@* The @:'s are to stop compilation errors with the Razor engine due to unclosed HTML tags *@

@helper EndForm() {
@:    </form>
}

@helper BeginSection(IHtmlString heading, IHtmlString leadingHtml, HtmlAttributes htmlAttributes) {
    @:    <fieldset@(htmlAttributes)>
    if (heading != null && !string.IsNullOrWhiteSpace(heading.ToString()))
    {
@:        <legend>@heading</legend>
    }
    if (leadingHtml != null && !string.IsNullOrWhiteSpace(leadingHtml.ToString()))
    {
@:        @leadingHtml
    }
}

@helper EndSection() {
@:    </fieldset>
}

@helper BeginNestedSection(IHtmlString heading, IHtmlString leadingHtml, HtmlAttributes htmlAttributes)
{
    htmlAttributes.AddClass("panel panel-default");
@:    <div@(htmlAttributes)>
    if (heading != null && !string.IsNullOrWhiteSpace(heading.ToString()))
    {
@:        <div class="panel-heading">@heading</div>
    }

@:        <div class="panel-body">
    if (leadingHtml != null && !string.IsNullOrWhiteSpace(leadingHtml.ToString()))
    {
        @leadingHtml
    }
}

@helper EndNestedSection() {
@:        </div>
@:    </div>
}

@helper BeginField(IHtmlString labelHtml, IHtmlString elementHtml, IHtmlString validationHtml, ModelMetadata fieldMetadata, IReadonlyFieldConfiguration fieldConfiguration, bool isValid, IHtmlString requiredDesignator) {
@BeginFieldInternal(labelHtml, elementHtml, validationHtml, fieldConfiguration, fieldMetadata, isValid, requiredDesignator)
@:            <div class="row nested-fields">
@:                <div class="col-xs-1"></div>
@:                <div class="col-xs-11">
}

@helper EndField() {
@:                </div>
@:            </div>
@:        </div>
}

@helper GetInputGroupHtml(IHtmlString html, bool isInputGroup) {
@(new HtmlString(isInputGroup ? "<div class=\"input-group-addon\">" : ""))@html@(new HtmlString(isInputGroup ? "</div>" : ""))
}

@helper GetPrependedHtml(IReadonlyFieldConfiguration fieldConfiguration, bool isInputGroup) {
    if (fieldConfiguration != null) {
        foreach (var html in fieldConfiguration.PrependedHtml) {@GetInputGroupHtml(html, isInputGroup)}
    }
}

@helper GetAppendedHtml(IReadonlyFieldConfiguration fieldConfiguration, bool isInputGroup) {
    if (fieldConfiguration != null) {
        foreach (var html in fieldConfiguration.AppendedHtml) {@GetInputGroupHtml(html, isInputGroup)}
    }
}

@helper GetHint(IReadonlyFieldConfiguration fieldConfiguration) {
    if (fieldConfiguration != null && fieldConfiguration.Hint != null) {<div class="help-block form-hint">@fieldConfiguration.Hint</div>}
}

@helper GetCheckboxRequiredDesignator(bool isRequired, bool isCheckboxControl, IHtmlString requiredDesignator) {
    if(!isRequired) { return; }
    if(isCheckboxControl) {@requiredDesignator}
}

@helper GetInputGroupRequiredDesignator(bool isRequired, bool isInputGroup, IHtmlString requiredDesignator) {
    if (!isRequired) { return; }
    if (isInputGroup) {<div class="input-group-addon required">@requiredDesignator</div>}
}

@helper RequiredDesignator(IReadonlyFieldConfiguration fieldConfiguration) {
<em class="required" title="Required">&lowast;</em>
}

@helper GetLabelHtml(IHtmlString labelHtml, bool hasLabel, bool isCheckboxControl, bool isRadioOrCheckboxList, bool isRequired, IHtmlString requiredDesignator) {
    var wrapLabel = !hasLabel && !isCheckboxControl;
    if (wrapLabel) {
        @:<span class="control-label">
    }
    @labelHtml
    if (isRadioOrCheckboxList && isRequired) {
        @requiredDesignator
    }
    if (wrapLabel) {
        @:</span>
    }
}

@helper BeginFieldInternal(IHtmlString labelHtml, IHtmlString elementHtml, IHtmlString validationHtml, IReadonlyFieldConfiguration fieldConfiguration, ModelMetadata fieldMetadata, bool isValid, IHtmlString requiredDesignator) {
    var isCheckboxControl = fieldConfiguration.GetBagData<bool>("IsCheckboxControl");
    var isRadioOrCheckboxList = fieldConfiguration.GetBagData<bool>("IsRadioOrCheckboxList");
    var isRequired = fieldMetadata != null && fieldMetadata.IsRequired;
    var isInputGroup = (!isCheckboxControl && !isRadioOrCheckboxList && isRequired) || fieldConfiguration.GetBagData<bool>("DisplayAsInputGroup");
@:            <div class="@(isCheckboxControl ? "checkbox" : "form-group")@(!isValid ? " has-error" : string.Empty)">
              @GetLabelHtml(labelHtml, fieldConfiguration.HasLabel, isCheckboxControl, isRadioOrCheckboxList, isRequired, requiredDesignator)
              if (isInputGroup)
              {
@:            <div class="input-group">
              }
@:            @GetPrependedHtml(fieldConfiguration, isInputGroup)@elementHtml@GetCheckboxRequiredDesignator(isRequired, isCheckboxControl, requiredDesignator)@GetAppendedHtml(fieldConfiguration, isInputGroup)@GetInputGroupRequiredDesignator(isRequired, isInputGroup, requiredDesignator)
              if (isInputGroup)
              {
@:            </div>
              }
@:            @GetHint(fieldConfiguration) @validationHtml
}

@helper Field(IHtmlString labelHtml, IHtmlString elementHtml, IHtmlString validationHtml, ModelMetadata fieldMetadata, IReadonlyFieldConfiguration fieldConfiguration, bool isValid, IHtmlString requiredDesignator) {
@BeginFieldInternal(labelHtml, elementHtml, validationHtml, fieldConfiguration, fieldMetadata, isValid, requiredDesignator)
@:            </div>
}

@helper BeginMessage(EmphasisStyle messageType, IHtmlString heading) {
@:      <div class="panel @string.Format("panel-{0}", messageType.ToString().ToLower())">
            if (!string.IsNullOrEmpty(heading.ToHtmlString()))
            {
@:          <div class="panel-heading"><h4 class="panel-title">@heading</h4></div>
            }
@:          <div class="panel-body">
}

@helper EndMessage() {
@:          </div>
@:      </div>
}

@helper BeginNavigation() {
@:        <div class="btn-group">
}

@helper EndNavigation() {
@:        </div>
}

@helper RadioOrCheckboxList(IEnumerable<IHtmlString> items, bool isCheckbox) {
    foreach (var item in items) {
        <div class="@(isCheckbox ? "checkbox" : "radio")">@item</div>
    }
}
