@using System.Web.Mvc
@using Component.Config
@using Enums
@using Templates

@* Generator: MvcHelper *@

@* The @:'s are to stop compilation errors with the Razor engine due to unclosed HTML tags *@

@helper EndForm() {
@:    </form>
}

@helper BeginSection(IHtmlString title, IHtmlString leadingHtml, HtmlAttributes htmlAttributes) {
@:    <fieldset>
@:        <legend>@title</legend>
@:        @leadingHtml
@:        <dl@(htmlAttributes)>
}
    
@helper BeginNestedSection(IHtmlString title, IHtmlString leadingHtml, HtmlAttributes htmlAttributes)
{
@:            <dt>@title</dt>
@:            <dd>
@:                @leadingHtml
@:                <dl@(htmlAttributes)>
}

@helper EndSection() {
@:        </dl>
@:    </fieldset>
}

@helper EndNestedSection() {
@:                </dl>
@:            </dd>
}

@helper GetPrependedHtml(IFieldConfiguration fieldConfiguration) {
    if (fieldConfiguration != null) {
        foreach (var html in fieldConfiguration.PrependedHtml) {@html}
    }
}

@helper GetAppendedHtml(IFieldConfiguration fieldConfiguration) {
    if (fieldConfiguration != null) {
        foreach (var html in fieldConfiguration.AppendedHtml) {@html}
    }
}

@helper GetHint(IFieldConfiguration fieldConfiguration) {
    if (fieldConfiguration != null && fieldConfiguration.Hint != null) {<div class="hint">@fieldConfiguration.Hint</div>}
}

@helper BeginFieldInternal(IHtmlString labelHtml, IHtmlString elementHtml, IHtmlString validationHtml, IFieldConfiguration fieldConfiguration) {
@:            <dt>@labelHtml</dt>
@:            <dd>
@:                @GetPrependedHtml(fieldConfiguration)@elementHtml@GetAppendedHtml(fieldConfiguration)@GetHint(fieldConfiguration) @validationHtml
}

@helper Field(IHtmlString labelHtml, IHtmlString elementHtml, IHtmlString validationHtml, ModelMetadata fieldMetadata, IFieldConfiguration fieldConfiguration) {
@BeginFieldInternal(labelHtml, elementHtml, validationHtml, fieldConfiguration)
@:            </dd>
}

@helper BeginField(IHtmlString labelHtml, IHtmlString elementHtml, IHtmlString validationHtml, ModelMetadata fieldMetadata, IFieldConfiguration fieldConfiguration)
{
@BeginFieldInternal(labelHtml, elementHtml, validationHtml, fieldConfiguration)
@:                <dl>
}

@helper EndField() {
@:                </dl>
@:            </dd>
}

@helper BeginNavigation() {
@:        <div class="form_navigation">
}

@helper EndNavigation() {
@:        </div>
}

@helper BeginMessage(MessageType messageType, IHtmlString heading) {
@:      <div class="@string.Format("{0}{1}", messageType.ToString().ToLower(), "_message")">
@:          <h3>@heading</h3>
@:          <div class="message">
}

@helper EndMessage() {
@:          </div>
@:      </div>
}

@helper MessageParagraph(IHtmlString paragraph) {
@:    <p>
@:        @paragraph
@:    </p>
}

@helper List(IEnumerable<IHtmlString> items) {
@:    <ul>
foreach(var i in items) {
@:        <li>@i</li>
}
@:    </ul>
}