@using System.Web.Mvc
@using Component.Config
@using Enums
@using Templates

@* Generator: MvcHelper *@

@* The @:'s are to stop compilation errors with the Razor engine due to unclosed HTML tags *@

@helper EndForm() {
@:    </form>
}

@helper BeginSection(IHtmlString title, IHtmlString leadingHtml, HtmlAttributes htmlAttributes) {
@:    <fieldset@(htmlAttributes)>
@:        <legend>@title</legend>
@:        @leadingHtml
@:        <dl>
}
    
@helper BeginNestedSection(IHtmlString title, IHtmlString leadingHtml, HtmlAttributes htmlAttributes)
{
@:            <dt>@title</dt>
@:            <dd>
@:                @leadingHtml
@:                <dl@(htmlAttributes)>
}

@helper EndSection() {
@:        </dl>
@:    </fieldset>
}

@helper EndNestedSection() {
@:                </dl>
@:            </dd>
}

@helper GetPrependedHtml(IReadonlyFieldConfiguration fieldConfiguration) {
    if (fieldConfiguration != null) {
        foreach (var html in fieldConfiguration.PrependedHtml) {@html}
    }
}

@helper GetAppendedHtml(IReadonlyFieldConfiguration fieldConfiguration) {
    if (fieldConfiguration != null) {
        foreach (var html in fieldConfiguration.AppendedHtml) {@html}
    }
}

@helper GetHint(IReadonlyFieldConfiguration fieldConfiguration) {
    if (fieldConfiguration != null && fieldConfiguration.Hint != null) {<div class="hint">@fieldConfiguration.Hint</div>}
}

@helper BeginFieldInternal(IHtmlString labelHtml, IHtmlString elementHtml, IHtmlString validationHtml, IReadonlyFieldConfiguration fieldConfiguration, ModelMetadata fieldMetadata, IHtmlString requiredDesignator) {
@:            <dt>@labelHtml@(new HtmlString(fieldMetadata != null && fieldMetadata.IsRequired ? requiredDesignator.ToHtmlString() : ""))</dt>
@:            <dd>
@:                @GetPrependedHtml(fieldConfiguration)@elementHtml@GetAppendedHtml(fieldConfiguration)@GetHint(fieldConfiguration) @validationHtml
}

@helper Field(IHtmlString labelHtml, IHtmlString elementHtml, IHtmlString validationHtml, ModelMetadata fieldMetadata, IReadonlyFieldConfiguration fieldConfiguration, IHtmlString requiredDesignator) {
@BeginFieldInternal(labelHtml, elementHtml, validationHtml, fieldConfiguration, fieldMetadata, requiredDesignator)
@:            </dd>
}

@helper BeginField(IHtmlString labelHtml, IHtmlString elementHtml, IHtmlString validationHtml, ModelMetadata fieldMetadata, IReadonlyFieldConfiguration fieldConfiguration, IHtmlString requiredDesignator)
{
@BeginFieldInternal(labelHtml, elementHtml, validationHtml, fieldConfiguration, fieldMetadata, requiredDesignator)
@:                <dl>
}

@helper EndField() {
@:                </dl>
@:            </dd>
}

@helper RequiredDesignator() {
<text> <em class="required">*</em></text>}

@helper BeginNavigation() {
@:        <div class="form_navigation">
}

@helper EndNavigation() {
@:        </div>
}

@helper BeginMessage(MessageType messageType, IHtmlString heading) {
@:      <div class="@string.Format("{0}{1}", messageType.ToString().ToLower(), "_message")">
@:          <h3>@heading</h3>
@:          <div class="message">
}

@helper EndMessage() {
@:          </div>
@:      </div>
}

@helper MessageParagraph(IHtmlString paragraph) {
@:    <p>
@:        @paragraph
@:    </p>
}

@helper List(IEnumerable<IHtmlString> items) {
@:    <ul>
foreach(var i in items) {
@:        <li>@i</li>
}
@:    </ul>
}