@using System.Net.Http
@* Generator: MvcHelper *@

@helper BeginForm(string action, HttpMethod method, string enctype) {
@:    <form action="@action" method="@method.Method.ToLower()" enctype="@enctype">
}

@helper EndForm() {
@:    </form>
}

@* The @:'s are to stop compilation errors with the Razor engine due to unclosed HTML tags *@
@helper BeginSection(string title) {
@:    <fieldset>
@:        <legend>@title</legend>
@:        <dl>
}

@* The @:'s are to stop compilation errors with the Razor engine due to unopened HTML tags *@
@helper EndSection() {
@:        </dl>
@:    </fieldset>
}

@helper Field(IHtmlString labelHtml, IHtmlString elementHtml, IHtmlString validationHtml) {
        <dt>@labelHtml</dt>
        <dd>@elementHtml @validationHtml</dd>
}