@using System.Net.Http
@* Generator: MvcHelper *@

@* The @:'s are to stop compilation errors with the Razor engine due to unclosed HTML tags *@

@helper BeginForm(string action, HttpMethod method, string enctype) {
@:    <form action="@action" method="@method.Method.ToLower()"@Html.Attribute("enctype", enctype)>
}

@helper EndForm() {
@:    </form>
}

@helper BeginSection(string title) {
@:    <fieldset>
@:        <legend>@title</legend>
@:        <dl>
}
    
@helper BeginNestedSection(string title) {
@:            <dt>@title</dt>
@:            <dd>
@:                <dl>
}

@helper EndSection() {
@:        </dl>
@:    </fieldset>
}

@helper EndNestedSection() {
@:                <dl>
@:            </dd>
}

@helper BeginFieldInternal(IHtmlString labelHtml, IHtmlString elementHtml, IHtmlString validationHtml) {
@:            <dt>@labelHtml</dt>
@:            <dd>
@:                @elementHtml @validationHtml
}

@helper Field(IHtmlString labelHtml, IHtmlString elementHtml, IHtmlString validationHtml) {
@BeginFieldInternal(labelHtml, elementHtml, validationHtml)
@:            </dd>
}

@helper BeginField(IHtmlString labelHtml, IHtmlString elementHtml, IHtmlString validationHtml) {
@BeginFieldInternal(labelHtml, elementHtml, validationHtml)
@:                <dl>
}

@helper EndField() {
@:                </dl>
@:            </dd>
}