@using System.Web.Mvc
@using Component.Config
@using Enums

@* Generator: MvcHelper *@

@* The @:'s are to stop compilation errors with the Razor engine due to unclosed HTML tags *@

@helper EndForm() {
@:    </form>
}

@helper BeginSection(IHtmlString title, IHtmlString leadingHtml, HtmlAttributes htmlAttributes) {
@:    <fieldset@(htmlAttributes)>
@:        <legend>@title</legend>
@:        @leadingHtml
}
    
@helper BeginNestedSection(IHtmlString title, IHtmlString leadingHtml, HtmlAttributes htmlAttributes)
{
}

@helper EndSection() {
@:    </fieldset>
}

@helper EndNestedSection() {
}

@helper GetPrependedHtml(IReadonlyFieldConfiguration fieldConfiguration) {
    if (fieldConfiguration != null) {
        foreach (var html in fieldConfiguration.PrependedHtml) {@html}
    }
}

@helper GetAppendedHtml(IReadonlyFieldConfiguration fieldConfiguration) {
    if (fieldConfiguration != null) {
        foreach (var html in fieldConfiguration.AppendedHtml) {@html}
    }
}

@helper GetHint(IReadonlyFieldConfiguration fieldConfiguration) {
    if (fieldConfiguration != null && fieldConfiguration.Hint != null) {<span class="help-block">@fieldConfiguration.Hint</span>}
}

@helper BeginFieldInternal(IHtmlString labelHtml, IHtmlString elementHtml, IHtmlString validationHtml, IReadonlyFieldConfiguration fieldConfiguration, ModelMetadata fieldMetadata) {
@:            <div class="form-group">
@:            @labelHtml@(new HtmlString(fieldMetadata != null && fieldMetadata.IsRequired ? " <em class=\"required\">*</em>" : ""))
@:            @GetPrependedHtml(fieldConfiguration)@elementHtml@GetAppendedHtml(fieldConfiguration)@GetHint(fieldConfiguration) @validationHtml
}

@helper Field(IHtmlString labelHtml, IHtmlString elementHtml, IHtmlString validationHtml, ModelMetadata fieldMetadata, IReadonlyFieldConfiguration fieldConfiguration) {
@BeginFieldInternal(labelHtml, elementHtml, validationHtml, fieldConfiguration, fieldMetadata)
@:            </div>
}

@helper BeginField(IHtmlString labelHtml, IHtmlString elementHtml, IHtmlString validationHtml, ModelMetadata fieldMetadata, IReadonlyFieldConfiguration fieldConfiguration)
{
@BeginFieldInternal(labelHtml, elementHtml, validationHtml, fieldConfiguration, fieldMetadata)
}

@helper EndField() {
@:            </div>
}

@helper BeginMessage(TwitterAlertType messageType, IHtmlString heading) {
@:      <div class="alert @string.Format("alert-{0}", messageType.ToString().ToLower())">
            if (!string.IsNullOrEmpty(heading.ToHtmlString()))
            {
@:          <p><strong>@heading</strong></p>
            }
}

@helper EndMessage() {
@:      </div>
}

@helper BeginNavigation() {
@:        <div class="btn-group">
}

@helper EndNavigation() {
@:        </div>
}
