@using ChameleonForms.Templates
@model dynamic

@{
    ViewBag.Title = "Buttons";
}

<h1>Buttons</h1>

@using (var f = Html.BeginChameleonForm())
{
    using (var n = f.BeginNavigation())
    {
        @n.Button("text button").AddClass("button")
        @n.Button(new HtmlString("<strong>html button</strong>")).AddClass("button")
        @n.Reset("text reset").AddClass("button")
        @n.Reset(new HtmlString("<strong>html reset</strong>")).AddClass("button")
        @n.Submit(new HtmlString("<strong>html submit</strong>")).AddClass("button")
        @n.Submit("text submit").AddClass("button").AddClass("btn-danger")
        @n.Submit("name", "value", new HtmlString("<strong>html submit with value</strong>")).AddClass("button")
        @n.Submit("name", "value").AddClass("button btn-success")
    }
}
