@using ChameleonForms
@using ChameleonForms.Component
@using ChameleonForms.Templates
@model dynamic

@{
    ViewBag.Title = "Buttons";
}

<h1>Buttons</h1>

@using (var f = Html.BeginChameleonForm())
{
    using (var n = f.BeginNavigation())
    {
        @n.Button("text button", new HtmlAttributes().AddClass("button"))
        @n.Button(new HtmlString("<strong>html button</strong>"), new HtmlAttributes().AddClass("button"))
        @n.Reset("text reset", new HtmlAttributes().AddClass("button"))
        @n.Reset(new HtmlString("<strong>html reset</strong>"), new HtmlAttributes().AddClass("button"))
        @n.Submit(new HtmlString("<strong>html submit</strong>"), new HtmlAttributes().AddClass("button"))
        @n.Submit("text submit", new HtmlAttributes().AddClass("button"))
        @n.Submit("name", "value", new HtmlString("<strong>html submit with value</strong>"), new HtmlAttributes().AddClass("button"))
        @n.Submit("name", "value", htmlAttributes: new HtmlAttributes().AddClass("button"))
    }
}
