@using ChameleonForms.Templates.TwitterBootstrap3
@model dynamic

@{
    ViewBag.Title = "Buttons";
}

<h1>Buttons</h1>

@using (var f = Html.BeginChameleonForm())
{
    using (var n = f.BeginNavigation())
    {
        @n.Button("text button").WithStyle(TwitterEmphasisStyle.Primary)
        @n.Button(new HtmlString("<strong>html button</strong>")).AddClass("random-class")
        @n.Reset("text reset").WithIcon("refresh")
        @n.Reset(new HtmlString("<strong>html reset</strong>"))
        @n.Submit(new HtmlString("<strong>html submit</strong>"))
        @n.Submit("text submit").WithStyle(TwitterEmphasisStyle.Danger)
        @n.Submit("name", "value", new HtmlString("<strong>html submit with value</strong>"))
        @n.Submit("name", "value").WithIcon("star").WithStyle(TwitterEmphasisStyle.Success)
    }
}
