@model ParentViewModel

@{
    ViewBag.Title = "Changing context";
    var differentViewModel = new BasicViewModel {RequiredString = "Initial value"};
}

<h1>Changing the context of HTML helper</h1>

<p>There are three separate forms tied to three different post actions. Turn off JavaScript, clear all the text fields and hit each of the three submit buttons and also play with putting in values and submitting the values to see how they are bound back.</p>

@if (Context.Request.Method.ToUpperInvariant() == "POST")
{
    if (ViewBag.Action == "PostDifferentModel")
    {
        differentViewModel = ViewBag.BoundModel;
    }
    <h2>Binding data</h2>
    <ul>
        <li><strong>Action:</strong> @ViewBag.Action</li>
        <li><strong>Model type:</strong> @ViewBag.ModelType</li>
        <li><strong>Model data:</strong> <pre>@ViewBag.BoundModelData</pre></li>
    </ul>
}

<h2>Completely different model</h2>

<p><code>@@using (var f = Html.BeginChameleonFormFor(new BasicViewModel { RequiredString = "Initial value" }, Url.Action("PostDifferentModel")))</code></p>

@using (var f = Html.BeginChameleonFormFor(differentViewModel, Url.Action("PostDifferentModel")))
{
    using (var s = f.BeginSection())
    {
        @s.FieldFor(m => m.RequiredString)
        @s.FieldFor(m => m.SomeCheckbox)
    }
    using (var n = f.BeginNavigation())
    {
        @n.Submit("Submit").AddClass("different-model")
    }
}

<h2>Sub model (binding to itself)</h2>

<p><code>@@using (var f = Html.BeginChameleonFormFor(m => m.Child, Url.Action("PostChildViewModel")))</code></p>

@using (var f = Html.BeginChameleonFormFor(m => m.Child, Url.Action("PostChildViewModel")))
{
    using (var s = f.BeginSection())
    {
        @s.FieldFor(m => m.ChildField)
        @s.FieldFor(m => m.SomeEnum)
    }
    using (var n = f.BeginNavigation())
    {
        @n.Submit("Submit").AddClass("child-model")
    }
}

<h2>Sub model (binding to parent)</h2>

<p><code>@@using (var f = Html.For(m => m.Child, bindFieldsToParent: true).BeginChameleonForm(Url.Action("PostParentViewModel")))</code></p>

@using (var f = Html.For(m => m.Child, bindFieldsToParent: true).BeginChameleonForm(Url.Action("PostParentViewModel")))
{
    using (var s = f.BeginSection())
    {
        @s.FieldFor(m => m.ChildField)
        @s.FieldFor(m => m.SomeEnum)
    }
    using (var n = f.BeginNavigation())
    {
        @n.Submit("Submit").AddClass("parent-model")
    }
}

