@using ChameleonForms
@using ChameleonForms.Component
@using ChameleonForms.Enums
@using ChameleonForms.Example.Forms.Components
@model ChameleonForms.Example.Controllers.ViewModelExample

@{
    ViewBag.Title = "Example Form 1";
}

@helper InstructionalText() {
    <p>Leading instructional text.</p>
}

<h1>Example Form 1</h1>

@using (var f = Html.BeginChameleonForm(Url.Action("Index", "Home"), FormMethod.Post, EncType.Plain))
{
    using (var s = f.BeginSection("My Section!", InstructionalText()))
    {
        @s.FieldFor(m => m.RequiredStringField)
        using (var ff = s.BeginFieldFor(m => m.RequiredStringField))
        {
            @ff.FieldFor(m => m.NestedField)
        }
        using (var ss = s.BeginSection("Nested section"))
        {
            @ss.FieldFor(m => m.NestedField)
        }
        @s.FieldFor(m => m.SomeEnum)
    }
}

@using (var form = Html.BeginRandomForm("/random", FormMethod.Get, EncType.Multipart))
{
    @form.RandomComponent()
    @form.RandomComponent2()
}

@using (var form = Html.BeginRandomForm("/random", FormMethod.Post, new {test = "testValue"}))
{
    @form.RandomComponent()
    @form.RandomComponent2()
}

@using (var form = Html.BeginRandomForm("/random", FormMethod.Post, new {@class = "fish"}, EncType.Multipart))
{
    @form.RandomComponent()
    @form.RandomComponent2()
}