@using ChameleonForms.Example.Forms.Components
@using ChameleonForms.Templates.TwitterBootstrap3
@using ChameleonForms.Component.Config
@model ViewModelExample

@{
    ViewBag.Title = "Example Form 1";
}

@{
    Func<dynamic, IHtmlContent> InstructionalText = @<p>Leading instructional text.</p>;
}

<h1>Example Form 1</h1>

@using (var f = Html.BeginChameleonForm(method: FormMethod.Post, enctype: EncType.Multipart))
{
    <p>@f.LabelFor(m => m.SomeCheckbox).Label("Are you ready for: ") @f.FieldElementFor(m => m.SomeCheckbox) @f.ValidationMessageFor(m => m.SomeCheckbox)</p>
    <p>@f.FieldElementFor(m => m.RequiredStringField).TabIndex(4)</p>
    using (var s = f.BeginSection("My Section!", InstructionalText(null), new { @class = "aClass" }.ToHtmlAttributes()))
    {
        @s.FieldFor(m => m.FlagsEnums)
        @s.FieldFor(m => m.Boolean).WithoutInlineLabel()
        using (var ff = s.BeginFieldFor(m => m.RequiredStringField, Field.Configure().Attr("data-some-attr", "value").TabIndex(3)))
        {
            @ff.FieldFor(m => m.NestedField).Attr("data-attr1", "value").TabIndex(2)
            @ff.FieldFor(m => m.SomeEnum).Attr("data-attr1", "value")
            @ff.FieldFor(m => m.SomeEnum).Exclude(SomeEnum.SomeOtherValue)
        }
        @s.FieldFor(m => m.SomeCheckbox).AsDropDown()
        using (var ss = s.BeginSection("Nested section"))
        {
        }
        @s.FieldFor(m => m.RequiredStringField).OverrideFieldHtml(new HtmlString("Custom html <b>she-yeah</b>!"))
        @s.FieldFor(m => m.TextAreaField).Cols(60).Rows(5).Label("Some Label").AutoFocus().TabIndex(1)
        @s.FieldFor(m => m.SomeCheckbox).InlineLabel("Some label").WithHint("Format: XXX")
        @s.FieldFor(m => m.SomeCheckbox).AsRadioList().WithTrueAs("True").WithFalseAs("False")
        @s.FieldFor(m => m.ListId)
        @s.FieldFor(m => m.ListId).AsRadioList()
        @s.FieldFor(m => m.SomeEnums)
        @s.FieldFor(m => m.SomeEnumsList).AsRadioList()
        @s.FieldFor(m => m.Decimal)
        @s.FieldFor(m => m.Int).AsInputGroup().Append(".00").Prepend("$")
        @s.FieldFor(m => m.DecimalWithFormatStringAttribute)
        @s.FieldFor(m => m.NullableInt)
        @s.FieldFor(m => m.Child.ChildField)
        @s.FieldFor(m => m.Child.SomeEnum).AsRadioList()
        @s.FieldFor(m => m.RequiredStringField).Disabled()
        @s.FieldFor(m => m.RequiredStringField).Readonly()
        @s.FieldFor(m => m.DateField)
    }
    using (var n = f.BeginNavigation())
    {
        @n.Submit("Submit")
        @n.Reset("Reset")
    }
}

@using (var form = Html.BeginRandomForm("/random", FormMethod.Get, EncType.Multipart))
{
    @form.RandomComponent()
    @form.RandomComponent2()
}

@using (var form = Html.BeginRandomForm("/random", FormMethod.Post, new { test = "testValue" }))
{
    @form.RandomComponent()
    @form.RandomComponent2()
}

@using (var form = Html.BeginRandomForm("/random", FormMethod.Post, new { @class = "fish" }, EncType.Multipart))
{
    @form.RandomComponent()
    @form.RandomComponent2()

    using (var m = form.BeginMessage(MessageType.Success, "Success!"))
    {
        @m.Paragraph("Hello!!!!!!!!")
    }
}