@using ChameleonForms.Example.Forms.Components
@model ViewModelExample

@{
    ViewBag.Title = "Example Form 1";
}

@helper InstructionalText() {
    <p>Leading instructional text.</p>
}

<h1>Example Form 1</h1>

@using (var f = Html.BeginChameleonForm(method: FormMethod.Post, enctype: EncType.Multipart))
{
    <p>@f.LabelFor(m => m.SomeCheckbox).Label("Are you ready for: ") @f.FieldFor(m => m.SomeCheckbox) @f.ValidationMessageFor(m => m.SomeCheckbox)</p>
    using (var s = f.BeginSection("My Section!", InstructionalText(), new{@class = "aClass"}.ToHtmlAttributes()))
    {
        using (var ff = s.BeginFieldFor(m => m.RequiredStringField, Field.Configure().Attr("data-some-attr", "value")))
        {
            @ff.FieldFor(m => m.NestedField).Attr("data-attr1", "value")
        }
        using (var ss = s.BeginSection("Nested section"))
        {
            @ss.FieldFor(m => m.FileUpload).Attr("data-attr1", "value")
        }
        @s.FieldFor(m => m.RequiredStringField).OverrideFieldHtml(new MvcHtmlString("Custom html <b>she-yeah</b>!"))
        @s.FieldFor(m => m.SomeEnum).Attr("data-attr1", "value")
        @s.FieldFor(m => m.TextAreaField).Cols(60).Rows(5).Label("Some Label")
        @s.FieldFor(m => m.SomeCheckbox).InlineLabel("Some label").WithHint("Format: XXX")
        @s.FieldFor(m => m.SomeCheckbox).AsList().WithTrueAs("True").WithFalseAs("False")
        @s.FieldFor(m => m.SomeCheckbox).AsDropDown()
        @s.FieldFor(m => m.ListId)
        @s.FieldFor(m => m.ListId).AsList()
        @s.FieldFor(m => m.SomeEnums)
        @s.FieldFor(m => m.SomeEnumsList).AsList()
        @s.FieldFor(m => m.Decimal).WithFormatString("{0:F2}")
        @s.FieldFor(m => m.DecimalWithFormatStringAttribute)
        @s.FieldFor(m => m.NullableInt)
    }
    using (var n = f.BeginNavigation())
    {
        @n.Submit("Submit")
        @n.Reset("Reset")
    }
}

@using (var form = Html.BeginRandomForm("/random", FormMethod.Get, EncType.Multipart))
{
    @form.RandomComponent()
    @form.RandomComponent2()
}

@using (var form = Html.BeginRandomForm("/random", FormMethod.Post, new {test = "testValue"}))
{
    @form.RandomComponent()
    @form.RandomComponent2()
}

@using (var form = Html.BeginRandomForm("/random", FormMethod.Post, new {@class = "fish"}, EncType.Multipart))
{
    @form.RandomComponent()
    @form.RandomComponent2()

    using (var m = form.BeginMessage(MessageType.Success, "Success!"))
    {
        @m.Paragraph("Hello!!!!!!!!")
    }
}