@using System.Net.Http
@using ChameleonForms
@using ChameleonForms.Component
@using ChameleonForms.Example.Forms.Components
@model ChameleonForms.Example.Controllers.ViewModelExample

@{
    ViewBag.Title = "Example Form 1";
}

<h1>Example Form 1</h1>

@using (var f = Html.BeginChameleonForm(Url.Action("Index", "Home"), HttpMethod.Post))
{
    using (var s = f.BeginSection("My Section!"))
    {
        @s.FieldFor(m => m.RequiredStringField)
        using (var ff = s.BeginFieldFor(m => m.RequiredStringField))
        {
            @ff.FieldFor(m => m.NestedField)
        }
        using (var ss = s.BeginSection("Nested section"))
        {
            @ss.FieldFor(m => m.NestedField)
        }
    }
}

@using (var form = Html.BeginRandomForm("/random", HttpMethod.Get, "multipart/form-data"))
{
    @form.RandomComponent()
    @form.RandomComponent2()
}
