@model ViewModelExample

@{
    ViewBag.Title = "Partials";
}

<h1>Partials</h1>

@using (var f = Html.BeginChameleonForm())
{
    @Html.Partial("_ParentPartial")
    @(await Html.PartialAsync("_BaseParentPartial"))
    @(await f.PartialForAsync(m => m.Child, "_ChildPartial"))
    @(await f.PartialForAsync(m => m.BaseChild, "_BaseChildPartial"))

    using (var s = f.BeginSection("This is in the parent view"))
    {
        @s.FieldFor(m => m.Decimal).Append("in parent view")
        @(await Html.PartialAsync("_ParentPartial"))
        @(await Html.PartialAsync("_BaseParentPartial"))
        @s.FieldFor(m => m.ListId).Append("in parent view")
        @(await s.PartialForAsync(m => m.Child, "_ChildPartial"))
        @(await s.PartialForAsync(m => m.BaseChild, "_BaseChildPartial"))
        @s.FieldFor(m => m.SomeCheckbox).Append(" in parent view")
    }

    using (var n = f.BeginNavigation())
    {
        @n.Submit("Submit")
    }
}
