@model dynamic

@{
    ViewBag.Title = "ChameleonForms";
}

<h1>ChameleonForms</h1>

<h2>Templates</h2>
<ul>
    <li><a href="?template=default">Default</a></li>
    <li><a href="?template=bootstrap">Twitter Bootstrap</a></li>
</ul>

<h2>ChameleonForms vs ASP.NET MVC <abbr title="out-of-the-box">OOTB</abbr></h2>
<ul>
    <li>@Html.ActionLink("ChameleonForms", "ChameleonForms", "Comparison")</li>
    <li>@Html.ActionLink("Editor Templates", "EditorTemplates", "Comparison")</li>
    <li>@Html.ActionLink("HTML Helpers", "HtmlHelpers", "Comparison")</li>
</ul>

<h2>Smoke testing examples</h2>
<ul>
    <li>@Html.ActionLink("Basic Example", "BasicExample", "ExampleForms")</li>
    <li>@Html.ActionLink("Labels", "Labels", "ExampleForms")</li>
    <li>@Html.ActionLink("Null model", "NullModel", "ExampleForms")</li>
    <li>@Html.ActionLink("Null model with list", "NullModelWithList", "ExampleForms")</li>
    <li>@Html.ActionLink("Null list", "NullList", "ExampleForms")</li>
    <li>@Html.ActionLink("Buttons", "Buttons", "ExampleForms")</li>
</ul>

<h2>Random forms and UI tests</h2>
<ul>
    <li>@Html.ActionLink("Complex form and test-bed", "Form1", "ExampleForms")</li>
    <li>@Html.ActionLink("Model Binding Example", "ModelBindingExample", "ExampleForms")</li>
    <li>@Html.ActionLink("Model Binding Example with lists", "ModelBindingExample2", "ExampleForms")</li>
</ul>

