@using ChameleonForms.Utils
@model ViewModelExample

@{
    ViewBag.Title = "ChameleonForms";
    Func<dynamic, IHtmlContent> x = @<strong>Supppp</strong>;
}

<chameleon-form>
    <form-section heading="Wassup" leading-html="x">
        <p>Yo</p>
        <field for="Decimal" add-class="asdf asf ew" label="awefawefEWAF #$%&" attr-data-test="wassup" />
        <field for="Int">
            <field for="NullableInt" />
        </field>
        <form-section heading-html="x">
            <field for="TextAreaField" />
            <field for="Child.ChildField" />
        </form-section>
        <partial name="_Child" />
        <partial-form name="_Child2" for="Child" />
    </form-section>
    <partial-form name="_Child2" for="Child" />
    @* Mix and match helper syntax with tag helpers and vice versa *@
    @Html.GetChameleonForm().FieldElementFor(m => m.ListId)
    @using (var s = Html.GetChameleonForm().BeginSection("Section from helper syntax"))
    {
        @s.FieldFor(m => m.SomeEnum)
        <field for="Boolean" />
    }
    <form-navigation>
        @{ var n = Html.GetChameleonFormsNavigation();}
        @n.Submit("asdf")
        @n.Reset("Reset")
    </form-navigation>
</chameleon-form>


@* Not possible - compile error, model has to be the page model with tag helpers
<chameleon-form enctype="EncType.UrlEncoded" action="@Url.Action("ChameleonForms", "Comparison")" method="Post" model="new SignupViewModel()">
    <section heading="asdf">
        <field for="FirstName" />
    </section>
</chameleon-form>*@

<partial name="_OtherForm" model="new ComparisonController.SignupViewModel()" />

<h1>ChameleonForms</h1>

<h2>Templates</h2>
<ul>
    <li><a href="?template=default">Default</a></li>
    <li><a href="?template=defaultnojquery">Default - without jQuery</a></li>
    <li><a href="?template=bootstrap">Twitter Bootstrap</a></li>
    <li><a href="?template=bootstrapnojquery">Twitter Bootstrap - without jQuery</a></li>
</ul>

<h2>ChameleonForms vs ASP.NET MVC <abbr title="out-of-the-box">OOTB</abbr></h2>
<ul>
    <li>@Html.ActionLink("ChameleonForms", "ChameleonForms", "Comparison")</li>
    <li>@Html.ActionLink("Editor Templates", "EditorTemplates", "Comparison")</li>
    <li>@Html.ActionLink("HTML Helpers", "HtmlHelpers", "Comparison")</li>
</ul>

<h2>Smoke testing examples</h2>
<ul>
    <li>@Html.ActionLink("Basic Example", "BasicExample", "ExampleForms")</li>
    <li>@Html.ActionLink("Labels", "Labels", "ExampleForms")</li>
    <li>@Html.ActionLink("Null model", "NullModel", "ExampleForms")</li>
    <li>@Html.ActionLink("Null model with list", "NullModelWithList", "ExampleForms")</li>
    <li>@Html.ActionLink("Null list", "NullList", "ExampleForms")</li>
    <li>@Html.ActionLink("Buttons", "Buttons", "ExampleForms")</li>
    <li>@Html.ActionLink("Partials", "Partials", "ExampleForms")</li>
    <li>@Html.ActionLink("Changing HTML Helper context", "ChangingContext", "ExampleForms")</li>
</ul>

<h2>Random forms and UI tests</h2>
<ul>
    <li>@Html.ActionLink("Complex form and test-bed", "Form1", "ExampleForms")</li>
    <li>@Html.ActionLink("Model Binding Example", "ModelBindingExample", "ExampleForms")</li>
    <li>@Html.ActionLink("Model Binding Example with lists", "ModelBindingExample2", "ExampleForms")</li>
</ul>

