@using ChameleonForms
@using ChameleonForms.Component
@using ChameleonForms.Enums
@model ChameleonForms.Example.TwitterBootstrap.Controllers.ViewModelExample

@{
    ViewBag.Title = "Chameleon Forms - Twitter Bootstrap - Example Form";
}

@helper InstructionalText() {
    <p class="text-info">Leading instructional text.</p>
}

<h1>Twitter Bootstrap Example Form</h1>

@using (var f = Html.BeginChameleonForm(method: FormMethod.Post, enctype: EncType.Multipart))
{
    using (var m = f.BeginMessage(MessageType.Success, "Success!"))
    {
        @m.Paragraph("Hello!!!!!!!!")
    }
    using (var m = f.BeginMessage(MessageType.Warning, "Lookout!")) {}
    using (var m = f.BeginMessage(MessageType.Failure, null))
    {
        @m.Paragraph(new HtmlString("<strong>Critical Error</strong> Could not find ketchup."))
    }
    using (var s = f.BeginSection("My Section!", InstructionalText()))
    {
        @s.FieldFor(m => m.RequiredStringField).Placeholder("placeholder")
        @s.FieldFor(m => m.SomeEnum).Label("Choose one").WithHint("Helpful text about the above choice.")
        @s.FieldFor(m => m.SomeEnums).Label(new HtmlString("Choose <em>multiple</em>"))
        @s.FieldFor(m => m.TextAreaField).Rows(3)
        // Todo: Checkboxes
    }
    using (var n = f.BeginNavigation())
    {
        @n.Submit("Submit")
        @n.Reset("Reset")
    }
}
