@using ChameleonForms
@using ChameleonForms.Component
@using ChameleonForms.Enums
@model ChameleonForms.Example.TwitterBootstrap.Controllers.ViewModelExample

@{
    ViewBag.Title = "Example Form";
}

@helper InstructionalText() {
    <p>Leading instructional text.</p>
}

<h1>Example Form 1</h1>

@using (var f = Html.BeginChameleonForm(method: FormMethod.Post, enctype: EncType.Multipart))
{
    using (var s = f.BeginSection("My Section!", InstructionalText()))
    {
        @s.FieldFor(m => m.RequiredStringField)
        @s.FieldFor(m => m.SomeEnum).Attr("data-attr1", "value")
        @s.FieldFor(m => m.TextAreaField).Cols(60).Rows(5).Label("Some Label")
        @s.FieldFor(m => m.SomeCheckbox).InlineLabel("Some label").WithHint("Format: XXX")
        @s.FieldFor(m => m.SomeCheckbox).AsList().WithTrueAs("True").WithFalseAs("False")
        @s.FieldFor(m => m.SomeCheckbox).AsDropDown()
        @s.FieldFor(m => m.ListId)
        @s.FieldFor(m => m.ListId).AsList()
        @s.FieldFor(m => m.SomeEnums)
        @s.FieldFor(m => m.SomeEnumsList).AsList()
        @s.FieldFor(m => m.Decimal).WithFormatString("{0:F2}")
        @s.FieldFor(m => m.DecimalWithFormatStringAttribute)
        @s.FieldFor(m => m.NullableInt)
    }
    using (var n = f.BeginNavigation())
    {
        @n.Submit("Submit")
        @n.Reset("Reset")
    }
}
